/* Global Styles */

@font-face {
	font-family: 'Conv_Monthoers';
	src: url('../fonts/Monthoers.eot');
	src: local('?'), url('../fonts/Monthoers.woff') format('woff'), url('../fonts/Monthoers.ttf') format('truetype'), url('../fonts/Monthoers.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gudea-Bold';
	src: url('../fonts/Gudea-Bold.eot');
	src: local('?'), url('../fonts/Gudea-Bold.woff') format('woff'), url('../fonts/Gudea-Bold.ttf') format('truetype'), url('../fonts/Gudea-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gudea-Italic';
	src: url('../fonts/Gudea-Italic.eot');
	src: local('?'), url('../fonts/Gudea-Italic.woff') format('woff'), url('../fonts/Gudea-Italic.ttf') format('truetype'), url('../fonts/Gudea-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gudea-Regular';
	src: url('../fonts/Gudea-Regular.eot');
	src: local('?'), url('../fonts/Gudea-Regular.woff') format('woff'), url('../fonts/Gudea-Regular.ttf') format('truetype'), url('../fonts/Gudea-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#sidebar h3{ color: #F38A00; margin-bottom: 16px; }
#sidebar h4{text-transform: uppercase; font-size: 16px;margin-bottom: 2px;color: #1F1F1F;font-family: 'Gudea-Bold';}
#sidebar p{color: #5F636A;}
h4 + p{margin: 0 0 15px;}

/* *{outline: 1px solid rgba(0,0,0,.15);} */
a:focus {outline: 0 none;text-decoration: none;}
a:hover { color: #f38a00; }

html,
body { height: 100%; font-family: 'Gudea-Regular'; color: #5f636a; }

html{ background: #f2f2f2; }

body {  padding-top: 0; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */ }

p{ font-size: 16px; margin: 0 0 20px; }

strong { font-family: "Gudea-Bold"; font-weight: normal; }

i, em { font-family: "Gudea-Italic"; font-size: 14px; }

p em{ font-size: 16px; }
.nopadding { margin: 0 !important; padding: 0 !important; }

/* Nav Bar */
.shrink .navbar-nav > li > a {line-height: 25px;padding-top: 20px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s; transition: all 0.3s;}

.navbar.shrink {min-height: 60px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}

.shrink .navbar-brand {height: 100px;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s; }

.shrink .navbar-brand img {
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.shrink .navbar-toggle {  margin: 15px 0 0 20px; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s;
}

.navbar-fixed-bottom, .navbar-fixed-top { transition: all 0.3s ease-out 0s;
}

.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {background-color: transparent; color: #f38a00; }
.navbar { min-height: 100px; }
.navbar-inverse { /*background: transparent url(../images/opacity.png) repeat scroll left top;*/ background: #000; background: rgba(0,0,0,.35); ,border-color: transparent; }
.navbar-fixed-top { border-width: 0; }
.navbar-header h1 { margin: 0; }
.navbar-brand {height: 140px; left: 50%; margin-left: -90px !important; position: absolute; text-align: center; width: 180px; }
.rounded-tip{background: url(../images/roundedtip.png) no-repeat center center;bottom: -35px; left: 50%; position: absolute; width: 185px; height: 35px; z-index: -1; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); overflow: hidden; }
.rounded-tip:after{ content: '';  display: block;  /*outline: 1px solid red;*/ /* border-radius:  0 0 185px 185px/200%; height: 40px; width: 185px;  position: relative;  top: -8px;  background: rgba(0,0,0,.35) ;*/  }
.navbar-brand img { margin: auto; text-align: center; }
.navbar-right { float: none !important; margin: auto; width: 85%; }
.navbar-nav > li { float: left; margin-left: 1%; margin-right: 1%; }
.navbar-nav > li.menu-item-has-children > a:after{ content: ''; border-left: 5px solid transparent; border-right: 5px solid transparent;  border-top: 5px dashed #fff; position: relative; right: -5px; top: 11px;}
.shrink .navbar-nav > li.menu-item-has-children:after{ top: 24px; }

.navbar-nav > li.menu-item-has-children > a:hover:after{ border-top: 5px dashed #f38a00; }

.navbar-nav > li:hover ul{ display: block; }

.navbar-nav > li:nth-child(1){ float: right; }

.navbar-nav > li:nth-last-of-type(2),
.navbar-nav > li:nth-last-of-type(1) { float: right; }
.navbar-inverse .navbar-nav > li:nth-child(1) > a { background-color: #f38a00; }
.navbar-inverse .navbar-nav > li > a { color: #fff; font-weight: 400; }
.navbar-inverse .navbar-nav > li > a:hover { color: #f38a00; }

.navbar-inverse .navbar-nav > li:nth-child(1) > a:hover { background-color: #fff; }

.navbar-nav > li > a { letter-spacing: 1px; line-height: 45px; padding-top: 40px; }
.navbar-right .dropdown-menu { left: 0; right: auto; }
.dropdown-menu { /* background: transparent url("../images/opacity.png") repeat scroll left top;*/ background: rgba(0,0,0,.35); border-color: transparent; }
.dropdown-menu > li > a { color: #fff; }
.dropdown-menu > li > a:hover { background-color: #fff; color: #f38a00; }

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #fff;
    color: #f38a00;
}

/**/

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.tagline {
    color: white;
    font-family: "Conv_Monthoers";
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}

/* Home Page Carousel */

header.carousel {
    height: 100%;
}
.carousel-indicators{
	bottom: 40px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-caption {
	    width: 70%;
	    left: 50%;
	    top: 50%;
	    -webkit-transform: translate(-50%,-50%);
	    -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	    transform: translate(-50%,-50%);

/*
    left: 25%;
    bottom: 0;
    right: 25%;
    top: 0;
*/
}

.carousel-control {
    opacity: 1;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control .icon-prev::before {
    content: '';
}

.carousel-control .icon-next::before {
    content: '';
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    height: 49px;
    width: 49px;
    margin-top: -25px;
}

.carousel-control .icon-prev {
    background: transparent url(../images/left-arrow.png) no-repeat scroll left top;
}

.carousel-control.left:hover .icon-prev {
    background: transparent url(../images/left-arrow.png) no-repeat scroll left bottom;
}

.carousel-control .icon-next {
    background: transparent url(../images/right-arrow.png) no-repeat scroll left top;
}

.carousel-control.right:hover .icon-next {
    background: transparent url(../images/right-arrow.png) no-repeat scroll left bottom;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-caption{
	text-shadow: none;
}
header.carousel .item .carousel-caption h1 {
    font-family: "Conv_Monthoers";
    font-size: 113px;
/*     letter-spacing: -2px; */
    line-height: 120px;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
}

header.carousel .item .carousel-caption a {
    background: #fff;
    bottom: 10%;
    box-shadow: 0 2px 27px rgba(0, 0, 0, 0.5);
    color: #f38a00;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 16px;
    margin-left: -65px;
    padding: 15px 25px;
    left: 50%;
    position: absolute;
    display: block;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    z-index: 1;
    overflow: hidden;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
}

header.carousel .item .carousel-caption a:hover {
  color: #fff;
  text-decoration: none;
}

header.carousel .item .carousel-caption a:before {
  content: "";
  position: absolute;
  background: #f38a00;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.09s ease-in;
}

header.carousel .item .carousel-caption a:hover:before {
  right: 0;
}

.parallax {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
}

section {
    background: #fff;
    z-index: 1;
}

.features-intro.border {
    border-top: 1px solid #d8d8d8;
}

.page-template-template-contact-php .container-fluid{padding: 0;}

.centered {
  width: 75%;
  margin: auto;
  float: none;
}

/* Panel Styles */

#menu-types .col-md-6{float: none; display: inline-block; width: 48%;    vertical-align: top;}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	padding: 8px 0;
}

.panel {
    box-shadow: none;
    margin-bottom: 0;
}

.panel-default {
    border-color: transparent;
    text-align: center;
    border-radius: 0;
    padding-bottom: 60px;
}

.panel-default.liner {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.panel-default .panel-image {
    min-height: 205px;
    padding-top: 60px;
}

.panel-default > .panel-heading {
    background-color: transparent;
    border-color: transparent;
    color: #5f636a;
    font-weight: 400;
}

.panel-heading {
    padding: 0 15px;
}

.panel-heading h4 {
    color: #5f636a;
    font-family: "Gudea-Bold";
    font-size: 20px;
    letter-spacing: 1px;
}

.panel-body {
    padding: 0 30px;
}

.panel-body p {
    color: #5f636a;
    font-size: 16px;
    line-height: 20px;
}

.panel-body a.btn-default {
    background-color: #fff;
    border-color: transparent;
    color: #f38a00;
    font-family: "Gudea-Bold";
    font-size: 16px;
    letter-spacing: 1px;
}

.panel-body a.btn-default:hover {
    color: #418fde;
}

/* Layers Styles */

.dotted-line {
    background: transparent url(../images/dotted-white.png) repeat scroll left top;
    height: 10px;
    left: 50%;
    margin-left: -185px;
    position: absolute;
    top: 10%;
    width: 390px;
    z-index: 9999;
}

.dotted-line.gray {
    background: transparent url(../images/dotted-gray.png) repeat scroll left top;
    top: 30%;
}

.features-intro {
    display: block;
    position: relative;
}

.features-bg {
    min-height: 520px;
    position: relative;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.features-text{
    height: 520px;
    padding: 20% 100px;
    position: relative;
    text-align: center;
}

.features-text.bio{
    padding: 12% 100px;
}

.features-text h1 {
    color: white;
    font-family: "Conv_Monthoers";
    font-size: 56px;
    font-weight: 400;
    line-height: 66px;
    margin-bottom: 20px;
}

.features-text p {
    color: white;
    font-size: 16px;
    line-height: 25px;
    margin: auto auto 30px;
    max-width: 335px;
}

.features-text p a.fill {
  position: relative;
  //display:block;
  height: 45px;
  width: 155px;
  margin: 10px 7px;
  padding: 10px 20px;
  font-size: 13px;
  letter-spacing: 2px;
  color: #fff;
  border: 1px #fff solid;
  border-radius: 0;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.features-text p a.fill:hover {
  color: #f38a00;
  text-decoration: none;
}

.features-text p a.fill:focus {
  text-decoration: none;
}

.features-text p a.fill:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.09s ease-in;
}

.features-text p a.fill:hover:before {
  right: 0;
}

.features-text .img-bio img {
    border-radius: 100%;
    overflow: hidden;
}

.features-text .name-bio {
    margin-bottom: 20px;
}

.features-text .name-bio h2 {
    color: #f38a00;
    font-family: "Gudea-Bold";
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 23px;
    margin-bottom: 0;
}

.features-text .name-bio span {
    color: #5f636a;
    font-size: 13px;
    letter-spacing: 2px;
}

.features-text .description-bio p {
    background-image: url(../images/quotes.png), url(../images/quotes-close.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    color: #5f636a;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    max-width: 100%;
    padding-left: 30px;
    padding-top: 5px;
}

.features-text ul {
    padding-bottom: 30px;
}

.features-text ul li{
    display: block;
    font-size: 16px;
    text-align: left;
    color: #fff;
    margin-bottom: 3px;
}

.features-text ul li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.features-text ul li a:hover {
    text-decoration: underline; 
}

.features-text ul li strong {
    color: #f38a00;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.features-text ul li span {
    display: inline-block;
    width: 130px;
}

.title-section {
    color: #f38a00;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 33px;
    margin-bottom: 45px;
    margin-top: 45px;
    text-align: center;
}

.directions .panel {
    border-bottom: 1px solid #d8d8d8;
    text-align: left;
    padding-bottom: 0;
}

.directions .panel:last-child {
    border-bottom: none;
}

.directions .panel .panel-heading h4 a {
    color: #f38a00;
    display: block;
    font-family: "Gudea-Regular";
    font-weight: 400;
    letter-spacing: 1px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.directions .panel .panel-heading h4 a:hover, .directions .panel .panel-heading h4 a:focus {
    text-decoration: none;
}

.directions .panel .panel-heading h4 a span {
    float: right;
    font-size: 15px;
}

.directions .panel .panel-collapse .panel-body {
    border: medium none;
    padding: 0 15px;
    margin-bottom: 10px;
}

.directions .panel .panel-collapse .panel-body ol,
.directions .panel .panel-collapse .panel-body ul {
    padding-left: 15px;
}

.directions .panel .panel-collapse .panel-body ol li {
    color: #5f636a;
    font-size: 16px;
    margin-bottom: 10px;
    list-style-type: none;
    counter-increment: list;
    position: relative;
}

.directions .panel .panel-collapse .panel-body ol li:after {
    content: counter(list) ".";
    position: absolute;
    left: -2.5em;
    top: 0;
    width: 2em;
    text-align: right;
    color: #418fde;
}

.directions .panel .panel-collapse .panel-body p {
    color: #5f636a;
    margin-bottom: 10px;
}

#contactForm {
    display: block;
    float: left;
    padding-bottom: 50px;
}

.gform_wrapper{
	display: block;
	position: relative;
	margin-bottom: 50px;
}
.gform_wrapper label{
	color: #5f636a;
    font-family: "Gudea-Bold";
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: normal;
}

.gform_wrapper h3{
	    color: #f38a00;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 33px;
    margin-bottom: 45px;
    margin-top: 45px;
    text-align: center;
}
.gform_wrapper .gfield_required{
	color: #f38a00;
}

.gform_wrapper ul li input[type="text"], .gform_wrapper ul li input[type="email"], .gform_wrapper ul li input[type="tel"]{
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: #f2f2f2;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
}

.contact-us_wrapper ul {
	margin: 0; 
	padding: 0 20px;
	font-size: 0;
}
.contact-us_wrapper ul li{
	list-style: none;
	width: 32%;
	margin: 0 1% 10px 0;
	display: block;
	float: left;
}
.validation_error,.gform_confirmation_wrapper_1{
	padding: 0 20px;
	margin: 0 0 20px 0;
	   font-size: 20px;
	text-align: center;
}

.gform_confirmation_message {
    padding: 0 20px;
    text-align: center;
    margin: 40px 0 60px;
    font-size: 20px;
}

.contact-us_wrapper ul li.gfield_error input{
	background: rgba(243, 138, 0, 0.4);
}

.contact-us_wrapper ul li#field_1_3{
	clear: left;
}

.contact-us_wrapper ul li#field_1_5{
	position: absolute;
	right:0;
	width: 34.5%;
	margin: 0;
}

.contact-us_wrapper ul li#field_1_5 textarea{
	height: 118px;
	width: 100%;
	resize: none;
	font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: #f2f2f2;
    border-radius: 0;
    box-shadow: none;

}


.contact-us_wrapper .gform_footer{
	clear:both;
	text-align: center;
	top: 20px;
    position: relative;
}

.gform_footer button{
	    display: inline-block;

    margin-bottom: 0;
    
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
	color: #Fff;
    background-image: none;
    border: 1px solid transparent;
   
    background-color: #f38a00;
    border: 1px solid #f38a00;
    border-radius: 0;
    font-family: 'Gudea-Bold';
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 35px;
    text-transform: uppercase;
}


.gform_footer button:hover{
	    background-color: #fff;
    color: #f38a00;
}

.controls {
    margin-bottom: 25px;
}

.controls label {
    color: #5f636a;
    font-family: "Gudea-Bold";
    font-size: 15px;
    letter-spacing: 1px;
}

.controls label span {
    color: #f38a00;
    font-weight: bold;
}

.controls input.form-control {
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: #f2f2f2;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
}

.controls .help-block {
    color: red;
}

.controls textarea {
    background: #f2f2f2 none repeat scroll 0 0;
    border-color: #f2f2f2;
    border-radius: 0;
    box-shadow: none;
}

.controls.center {
    text-align: center;
    margin-top: 25px;
}

.controls #success {

}

.controls .btn-primary {
    background-color: #f38a00;
    border: 1px solid #f38a00;
    border-radius: 0;
    font-family: 'Gudea-Bold';
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 35px;
    text-transform: uppercase;
}

.controls .btn-primary:hover {
    background-color: #fff;
    color: #f38a00;
}

.has-error .form-control {
    border-color: red !important;
}

.tabs-content {
    clear: both;
    display: block;
}

.tabs-content .dotted-line.gray{
    margin-bottom: 20px;
    position: relative;
    top: -15px;
}

.tabs-content .nav-tabs {
    border-bottom: 1px solid #f38a00;
    margin-bottom: 35px;
}

.tabs-content .nav-tabs > li.active > a {
    background-color: #f38a00;
    border: 1px solid #f38a00;
    border-radius: 0;
    color: #fff;
    cursor: default;
}

.tabs-content .nav-tabs > li.active > a
.tabs-content .nav-tabs > li.active > a:focus,
.tabs-content .nav-tabs > li.active > a:hover {
    background-color: #f38a00;
    border: 1px solid #f38a00;
    border-radius: 0;
    color: #fff;
    cursor: default;
}

.tabs-content .nav-tabs > li > a:hover {
    color: #f38a00;
    background: transparent;
}

.tabs-content .nav-tabs > li > a {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #5f636a;
    font-family: "Gudea-Bold";
    font-size: 16px;
    line-height: 1.42857;
    margin-right: 2px;
}

.tab-content .directions .panel .panel-heading,
.tab-content .directions .panel .panel-body {
    padding-left: 0;
}

/* Internal Headers */
.header-image {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
    text-align: center;
    width: 100%;
}

.headline-category {
    padding: 130px 0 30px;
}

.headline-category h1 {
    color: white;
    font-family: "Conv_Monthoers";
    font-size: 68px;
    font-weight: 400;
    margin-bottom: 20px;
}

.headline-category h1 span {
    font-size: 57px;
}

.headline-category h3 {
    color: #f38a00;
    font-size: 20px;
    line-height: 23px;
}

.headline {
    padding: 200px 0 60px;
}

.headline h1 {
    color: white;
    font-family: "Conv_Monthoers";
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Category Section */


.category {
    margin-bottom: 30px;
    overflow: hidden;
}

.category a {
    display: block;
    position: relative;
}

.category a img {
    display: block;
    width: 100%;
}

.category .category-name {
    background: transparent url(../images/shadow-black.png) repeat scroll left top;
    bottom: 0;
    display: table;
    height: 85px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 100.25%;
}

.category a:hover .category-name {
    background: transparent url(../images/shadow-orange.png) repeat scroll left top;
}

.category .category-name .line {
    background: transparent url("../images/dotted-white.png") repeat scroll left top;
    clear: both;
    height: 7px;
    float: left;
    left: 10px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 97%;
}

.category .category-name h4 {
    color: #fff;
    display: table-cell;
    font-size: 24px;
    line-height: 25px;
    vertical-align: middle;
    font-family: 'Gudea-Bold';
}

.category .category-name h4 span {
    display: block;
    font-size: 18px;
}

/* Menus Section */
#left-sidebar {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}
.menus .menu-type {
    clear: both;
    display: block;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.menus .menu-type .title-menu-type {
    border-bottom: 1px solid #d1d2d5;
    clear: both;
    display: block;
    float: left;
    padding-bottom: 7px;
    margin-bottom: 15px;
    width: 100%;
}

.menus .menu-type .title-menu-type h3 {
    color: #f38a00;
    font-size: 20px;
    float: left;
    margin: 0;
}

.menus .menu-type .title-menu-type span {
    color: #9b9b9b;
    font-size: 14px;
    float: right;
}

.menus .menu-type .description-menu-type {
    float: left;
    width: 100%;
}

.menus .menu-type .description-menu-type .col-md-12, .menus .menu-type .description-menu-type .col-md-6{padding: 0 5% 0 0 ;}

.menus .menu-type .description-menu-type span {
    color: #418fde;
    display: block;
    font-size: 16px;
    font-family: "Gudea-Bold";
}

.menus .menu-type .description-menu-type p {
    font-size: 16px;
    line-height: 21px;
    color: #5f636a;
}

.menus .menu-information h3 {
    color: #f38a00;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}

.menus .menu-information span {
    display: block;
    font-family: "Gudea-Bold";
    font-size: 16px;
    letter-spacing: 1px;
    color: #1f1f1f;
    line-height: 18px;
    text-transform: uppercase;
}

.menus .menu-information p {
    color: #5f636a;
    line-height: 21px;
    margin-bottom: 15px;
}

.menus .menu-information ul li {
    font-size: 16px;
    color: #5f636a;
}

.menus .menu-information .more-details {
    color: #5f636a;
    display: block;
    font-style: italic;
    margin-bottom: 15px;
    text-decoration: none;
    text-transform: none;
}

.menus .menu-information .more-details:hover {
    text-decoration: none;
}

.menus .menu-information .more-details:hover span{
    color: #f38a00;
}

.menus .menu-information .more-details span {
    color: #418fde;
    display: inline;
    text-transform: none;
}

.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
    border-top: none;
}
.interior table {margin-bottom: 15px; width: 100%;}

.interior th, 
.interior td { 
	font-size: 16px;
	vertical-align: top;
	padding: 7px 20px 7px 0;
	border-bottom: 1px solid #DEDEDE;
}


th {
    color: #5f636a;
}

td:first-child {
    text-align: left;
    color: #5f636a;
}

.menus .order-section {
    border-top: 4px dotted #d8d8d8;
    margin-top: 30px;
    text-align: center;
}

.menus .order-section h3 {
    color: #f38a00;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.menus .order-section a {
    background-color: #f38a00;
    border: 1px solid #f38a00;
    border-radius: 0;
    color: #fff;
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-transform: uppercase;
}



.menus .order-section a:hover {
    background-color: #fff;
    color: #f38a00;
    text-decoration: none;
}

.menus .order-section p {
    font-size: 14px;
}

.order-section .col-xs-5{text-align: center;}

.order-section .phone{
	position: relative;
	left: 9px;
}

.menus .order-section img {
    display: block;
    margin: auto auto 20px;
    text-align: center;
}

.order-button{
	background: #F38A00;
	color: #fff;
	text-transform: uppercase; 
	padding: 9px 6px;
	display: block;
	border: 1px solid #F38A00;
}
.order-button:hover{
	text-decoration: none;
	background: #fff;
}

/* General Content */

.general-content {
    line-height: 25px;
}

.border-img{
	position: relative;
	display: inline-block;
}

.border-img:before{
	content: '';
    display: block;
    border: 4px solid #f38a00;
    position: absolute;
    width: 97%;
    height: 96.5%;
    top: 50%;
    left: 50%;
    z-index: 0;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}


/*
#map, #map-resp{
	background: url(../images/map.jpg) no-repeat center center; background-size: cover;
}
*/

.general-content h1,
.general-content h2,
.general-content h3,
.general-content h4,
.general-content h5,
.general-content h6{
    color: #f38a00;
    line-height: 23px;
    margin-bottom: 15px;
    margin-top: 0;
}

.general-content .col-md-12 {
    margin-bottom: 45px;
}

.general-content ul {
	padding: 0 0 0 25px;
}

.general-content ul li {
    list-style-type: none;
    counter-increment: list;
    position: relative;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 21px;
}

.general-content ul li:after {
    content: "\2022";
    position: absolute;
    left: -2.5em;
    top: 0;
    width: 2em;
    text-align: right;
    color: #418fde;
}

.general-content a {
    color: #418fde;
}

.affix-top,.affix{
	position: static;
}

.nav-tabs-dropdown {
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  }

  #sidebar.affix {
    position: fixed;
    top:130px;
  }
}



/* Responsive Styles */

@media screen and (max-width: 1024px) {
.navbar-nav > li:nth-child(1) {
    float: right;
    margin: 0;
}
.navbar-nav > li:nth-last-of-type(2), .navbar-nav > li:nth-last-of-type(1) {
    float: right;
    margin-left: 0;
    margin-right: 0;
}
.features-text {
    padding: 20% 60px;
}
footer p {
    font-size: 12px;
    margin-top: 50px;
}
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
.tabs-content .nav-tabs > li > a {
    font-size: 14px;
    padding: 5px;
}
}

@media screen and (max-width: 1024px) {
.navbar-right {
    width: 100%;
}
.features-text {
    padding: 20%;
}
.features-text.bio {
    padding: 12% 10%;
}
footer p {
    font-size: 12px;
}
}

@media screen and (max-width: 768px) {
	.contact-us_wrapper ul li{width: 100%; float: none;}
	.contact-us_wrapper ul li#field_1_5{width: 100%; position: static;}

}

@media screen and (max-width: 964px) {
.navbar-nav > li {
    margin-left: 1%;
    margin-right: 1%;
}
.nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-nav > li:nth-child(1), .navbar-nav > li:nth-child(2), .navbar-nav > li:nth-child(3) {
    margin-left: 0;
    margin-right: 0;
}
header.carousel .item .carousel-caption h1 {
    font-size: 75px;
    line-height: 80px;
}
.panel-default.liner {
    border-left: none;
    border-right: none;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.panel-body {
    padding: 0 25%;
}
.features-text .description-bio {
    padding: 0 20%;
}
.dotted-line {
    background: transparent url(../images/dotted-white.png) repeat scroll left top;
    border-top: medium none;
    height: 150px;
    left: 50%;
    margin-left: -2px;
    margin-top: -75px;
    position: absolute;
    top: 50%;
    width: 10px;
    z-index: 9999;
}
.dotted-line.gray {
    border-top: none;
    background: transparent url(../images/dotted-gray.png) repeat scroll left top;
    top: 50%;
}
.tabs-content .dotted-line.gray {
    border-right: medium none;
    border-top: 4px dotted #bcbcbc;
    height: 2px;
    margin-bottom: 45px;
    margin-left: -200px;
    margin-top: 0;
    position: relative;
    top: 50%;
    width: 400px;
}
.centered {
    width: 90%;
}
.menus .menu-type .description-menu-type {
    text-align: center;
}
#sidebar {
  text-align: center;
}
.img-responsive {
    margin-bottom: 35px;
    width: 100%;
}
/*
footer a, footer p {
    text-align: center;
    display: block;
}
footer .download {
    margin: 35px auto auto;
    width: 20%;
}
*/

}

@media screen and (max-width: 800px) {
header.carousel .item .carousel-caption h1 {
    font-size: 65px;
}
}

@media screen and (min-width: 969px) {
  #nav-tabs-wrapper {
    display: block!important;
  }
}
@media screen and (max-width: 968px) {
    .nav-tabs-dropdown {
        display: block;
    }
    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }
   .nav-tabs-horizontal {
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
   }
    .nav-tabs-horizontal  > li {
        float: none;
    }
    .nav-tabs-horizontal  > li + li {
        margin-left: 2px;
    }
    .nav-tabs-horizontal > li,
    .nav-tabs-horizontal > li > a {
        background: transparent;
        width: 100%;
    }
    .nav-tabs-horizontal  > li > a {
        border-radius: 4px;
    }
    .nav-tabs-horizontal  > li.active > a,
    .nav-tabs-horizontal  > li.active > a:hover,
    .nav-tabs-horizontal  > li.active > a:focus {
        color: #ffffff;
        background-color: #428bca;
    }
#my-tab-content {
  margin-top: 35px;
}

.dropdownes-title {
  position: relative;
  font-size: 20px;
  background: #f38a00 none repeat scroll 0 0;
  border-bottom: 1px solid #fff;
  border-radius: 3px;
  padding: .5em;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-bottom: 0;
  text-align: center;
}

.dropdownes-title:hover {
    text-decoration: none;
    color: #fff;
}

.dropdownes-title:focus {
    text-decoration: none;
    color: #fff;
}

.dropdownes-title:before {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0 5px 5px 0;
  width: 45px;
  height: 100%;
  -webkit-transition: .4s .3s;
  -moz--transition: .4s .3s;
  transition: .4s .3s;
}

.dropdownes-title:after {
  position: absolute;
  top: 10px;
  bottom: 0;
  right: 15px;
  margin: auto;
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid #fff;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
}

.dropdownes-list {
  list-style: none;
  padding: 0.9em 0;
  color: #fff;
  font-weight: 100;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.dropdownes-list.active {
  background-color: #f38a00;
}

.dropdownes-list.active:hover {
  background-color: #f38a00 !important;
}

.dropdownes-list:hover { background: rgba(0, 0, 0, 0.2); }

.dropdownes-list { background: rgba(0, 0, 0, 0.1); }

.dropdownes-list:nth-child(odd):hover { background: rgba(0, 0, 0, 0.2);}

.dropdownes-list:hover a{
  color: #f38a00 !important;
}
.dropdownes-list.active:hover a {
  color: #fff !important;
}
.dropdownes-list.active a:hover {
  color: #fff !important;
}
}

@media screen and (max-width: 780px) {
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: medium none;
    border-radius: 0;
    float: left;
    margin: 35px 0 0 20px;
    padding: 5px;
    position: relative;
}
.navbar-toggle .icon-bar {
    border-radius: 0;
    display: block;
    height: 3px;
    width: 22px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100%;
}

.navbar-nav > li > a {
    line-height: 50px;
    padding-top: 10px;
}

.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}

.shrink .navbar-nav > li > a {
    line-height: 50px;
    padding-top: 10px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.c-hamburger {
  display: block;
  position: absolute;
  overflow: hidden;
  margin: 15px 0 0 20px;
  padding: 0;
  width: 45px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  z-index: 999;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
    background: white none repeat scroll 0 0;
    display: block;
    height: 4px;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 20px;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background: none;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* General styles for all menus */
.cbp-spmenu {
	background-color: #5f636a;
	position: fixed;
	/*-moz-box-shadow:
		0 0 0 rgba(0, 0, 0, 0.1), -5px 0 5px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow:
		0 0 0 rgba(0, 0, 0, 0.1), -5px 0 5px rgba(0, 0, 0, 0.2) inset;
	box-shadow:
		0 0 0 rgba(0, 0, 0, 0.1), -5px 0 5px rgba(0, 0, 0, 0.2) inset;*/
}

.cbp-spmenu .navbar-nav li {
    border-bottom: 1px solid #6a6e75;
    display: block;
    margin: 0;
    width: 100%;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    border: medium none !important;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 1000;
    bottom: 0;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -260px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 260px;
}

.cbp-spmenu-push-toleft {
	left: -260px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

.caret {
    float: right;
    margin-top: 10%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px dashed;
}

.cbp-spmenu .dropdown-menu li {
    border-bottom: medium none;
    display: block;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #f38a00;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #f38a00;
    background: #fff;
}

.navbar-nav .open .dropdown-menu {
    background-color: #404348;
	-moz-box-shadow:
		0 0 0 rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.2) inset;
	-webkit-box-shadow:
		0 0 0 rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.2) inset;
	box-shadow:
		0 0 0 rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.2) inset;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
}

/*
.carousel-caption {
    left: 15%;
    right: 15%;
}
*/

header.carousel .item .carousel-caption h1 {
    font-size: 60px;
    line-height: 65px;
}

.features-text {
    padding: 15% 10%;
}
.features-text .description-bio {
    padding: 0;
}
.dotted-line {
    height: 100px;
    margin-top: -50px;
}
.tabs-content .dotted-line.gray {
    border-right: medium none;
    border-top: 4px dotted #bcbcbc;
    height: 2px;
    margin-bottom: 45px;
    margin-left: -200px;
    margin-top: 0;
    position: relative;
    top: 50%;
    width: 400px;
}
}

@media screen and (max-width: 480px) {
.cbp-spmenu-push .navbar-brand {
  left: 50%;
}
.cbp-spmenu-push-toright .navbar-brand {
  left: 180%;
}

.navbar-fixed-top{}
.navbar{min-height: 75px !important;}
.shrink .navbar-brand{height: auto !important}
.navbar-brand{
	
    padding: 6px 15px 0;
	
} 
.navbar-brand img{height: 60px !important;}
.rounded-tip{display: none;}
.navbar-brand{height: auto;}
/*
.carousel-control {
    display: none;
}
*/
.carousel-caption{width: 60%;}
/*
.carousel-caption {
    left: 5%;
    right: 5%;
}
*/
header.carousel .item .carousel-caption h1 {
    top: 15%;
    font-size: 55px;
    line-height: 60px;
}

.carousel-control{
	display: none;
}

header.carousel .item .carousel-caption a {
    bottom: 25%;
}
.carousel-indicators {
    bottom: 15%;
}
.panel-body {
    padding: 0 20%;
}
.features-text {
    padding: 15% 5%;
}
.features-text h1 {
    font-size: 40px;
}
.features-text .description-bio {
    padding: 0;
}
.headline-category .centered {
    width: 95%;
}
.headline-category h1 {
    font-size: 50px;
}
.headline-category h1 span {
    font-size: 40px;
}
.parallax {
    position: relative;
}
.animated {
    animation-fill-mode: none !important;
    animation-duration: 0s !important;
    animation-delay: 0s !important;
}
.fadeInLeft {
    animation-name: none !important;
}.fadeInRight {
    animation-name: none !important;
}

}

@media screen and (max-width: 360px) {
.cbp-spmenu-push .navbar-brand {
  left: 50%;
}
.cbp-spmenu-push-toright .navbar-brand {
  left: 250%;
}
/*
.carousel-caption {
    left: 1%;
    right: 1%;
}
*/
header.carousel .item .carousel-caption h1 {
    font-size: 48px;
    line-height: 52px;
}
.panel-body {
    padding: 0 5%;
}
.features-text {
    padding: 20% 5%;
}
.features-text ul {
    padding-left: 0;
}
.features-text ul li span {
    width: 115px;
}
.features-text h1 {
    font-size: 35px;
}
.dotted-line {
    height: 60px;
    margin-top: -30px;
}
.tabs-content .dotted-line.gray {
    border-right: medium none;
    border-top: 4px dotted #bcbcbc;
    height: 2px;
    margin-bottom: 45px;
    margin-left: -150px;
    margin-top: 0;
    position: relative;
    top: 50%;
    width: 300px;
}
.features-text .description-bio {
    padding: 0;
}
.headline-category .centered {
    width: 100%;
}
.headline-category h1 {
    font-size: 35px;
}
.headline-category h1 span {
    font-size: 30px;
}
.menus .order-section a {
    display: block;
}
footer .download {
    width: 40%;
}
}

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:780px) {

	.dropdown-menu .sub-menu {
	    left: 100%;
	    position: absolute;
	    top: 0;
	    visibility: hidden;
	    margin-top: -1px;
	}

	.dropdown-menu li:hover .sub-menu {
	    visibility: visible;
	}

	.dropdown:hover .dropdown-menu {
	    display: none;
	}
	
	.navbar-nav > li.menu-item-has-children:after{
		display: none;
	}
	.navbar-nav > li:hover ul{display: none;}
	.navbar-nav > li.menu-item-has-children > a{
		width: 75%; float: left;
	}
	
	.navbar-nav > li.menu-item-has-children span{
		    width: 25%;
			display: block;
			height: 70px;
			cursor: pointer;
			position: absolute;
   			right: 0;
	}
	
	.navbar-nav > li.menu-item-has-children span:after{
			content: '';
			float: right;
			margin-top: 10%;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px dashed #fff;
			position: absolute;
			top: 26px;
    		left: 28px;
	}



	.navbar-nav > li ul{ display: none; position: static; width: 100%; }

	.navbar-nav > li ul.open{ display: block; }
}



@media(max-width:767px) {
    .img-portfolio {margin-bottom: 15px;}

    header.carousel .carousel {height: 70%;}
    
    #menu-types .col-md-6{width: 100%;}
}

@-moz-document url-prefix() { 
	fieldset { display: table-cell; }
}



@media(max-width:480px) { 	}

/*Kevin's Footer Fixes*/
.innerfooter-wrap{padding: 0 15px; box-sizing: border-box; max-width: 1170px; width: 100%; margin: 0 auto;}
.column-one-footer{display: block; float: left; max-width: 990px; width: 84.615384615385%; }
.column-one-footer .foot-logo,
.column-one-footer .foot-address,
.column-one-footer .foot-link{display: inline-block; vertical-align: bottom;}

.column-one-footer .foot-logo{margin: 0 35px 0 0;}
.column-one-footer .foot-address{margin: 0 45px 0 0;}
.column-one-footer .foot-link{top:-7px; position: relative;}
.foot-university{display: block; float: right;}


/* Footer Styles */

.jackrabbit{display: block; margin: 20px 0 0 0;}
.jackrabbit a{color: #bbb; }
.jackrabbit a:hover{text-decoration: underline;}

footer {
    display: block;
    background-color: #f2f2f2;
    padding: 25px 0 30px;
    z-index: 2;
    position: relative;
}

footer p {
	margin-bottom: 0;
    font-size: 14px;
}

footer span {
    display: block;
    color: #bbb;
    font-size: 12px;
}



footer .download {
    position: relative;
/*   //display:block; */
    border: 1px solid #5f636a;
    color: #5f636a;
    display: block;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 11px 11px;
    text-align: center;
    transition:         0.05s ease-in;
    -o-transition:      0.05s ease-in;
    -ms-transition:     0.05s ease-in;
    -moz-transition:    0.05s ease-in;
    -webkit-transition: 0.05s ease-in;
        font-family: 'Gudea-Bold';
}

footer .download:hover {
  color: #fff;
  text-decoration: none;
  background-color: #5f636a;
}

/*
footer .download:before {
  content: "";
  position: absolute;
  background-color: #5f636a;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.05s ease-in;
}

footer .download:hover:before {
  right: 0;
}
*/

footer .university {
    display: block;
    margin: 40px auto auto;
    width: 100px;
}

@media(max-width:768px) {
	.column-one-footer,
	.foot-university{display: block; margin: 0 auto; width: 100%; float: none; text-align: center;}
	
}

@media(max-width:670px) {
	.column-one-footer .foot-logo{display: block; vertical-align: baseline; margin: 0 auto 20px;}
}

@media(max-width:566px) {
	.column-one-footer .foot-address{display: block; margin: 0 auto 20px;}	
	.column-one-footer .foot-link{top: auto; display: block; margin: 0 auto; text-align: center;}
	footer .download{padding: 10px 0; margin: 0 auto;}
}